*{
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#header {
    background-color: rgb(28, 170, 236);
    display: flex;
    align-items: center;
    border-bottom: solid rgb(69, 216, 82) 5px;
}
h1 {
    text-align: center;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: rgb(12, 112, 9);
}
a{
    text-decoration: none;
    padding: 20px;
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.left-text{
    text-align: left;
    color: white;
    font-weight: bold;
    margin-right: auto;
}
.right-text{
    text-align: right;
    color: white;
    text-transform: capitalize;
}
