*{
    box-sizing: border-box;

}
body {
    margin: 0px;
    font-family: sans-serif;
}
#wall{
    background-image: url("../images/wall.jpg");
}
#frame1{
    width:500px;
    height:500px;
    box-shadow: inset 5px 5px 0px 0px black;
}
#frame2{
    width:250px;
    height:250px;
    box-shadow: inset 5px 5px 0px 0px black;
}
#frame3{
    width:100px;
    height:300px;
    box-shadow: inset 5px 5px 0px 0px black;
}
.border1{
    border:beige;
    border-style: solid;
    border-width: 20px;
    background-color: whitesmoke;
    padding:50px 50px;
    margin:50px;
    display:inline-block;
}
.border2{
    border:beige;
    border-style: solid;
    border-radius: 50px;
    background-color: whitesmoke;
    padding:20px 20px;
    margin:100px;
    display:inline-block;
}
.border3{
    border:beige;
    border-style: solid;
    border-radius: 50px;
    background-color: whitesmoke;
    padding:20px 20px;
    margin:100px;
    display:inline-block
}
.text-style{
    text-align: center;
    text-indent: 20px;
    font-style: oblique;
}
