*{
    box-sizing: border-box;

}
body {
    margin: 0px;
    font-family: sans-serif;
}
#column{
    width: 850px;
    margin: 45px auto;
}
#button{
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}
#bold{
    font-weight: bold;
}
.content1{
    border-top: 1px solid black;
    border-bottom: 1px black solid;
    margin-bottom: 20px;
}
.content1, .content2 {
    display: flex;
    padding: 25px;
    align-items: center;
}
.content3{
    display: flex;
    text-align: left;
    gap: 30px;
}
img{
    width: 100%;
    height: 300px;
    padding-right: 30px;
}
h4{
    text-transform: uppercase;
    font-weight: lighter;
}
h2{
    font-family: serif;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 30px;
}
h5{
    text-align: center;
    color: black;
    font-weight: lighter;
    letter-spacing: 2px;
    text-transform: uppercase;
}
p{
    padding-bottom: 10px;
    word-spacing: 2px;
}
.content1 .image-content,
.content1 .text-content,
.content2 .image-content,
.content2 .text-content {
    flex: 1;
}
