*{
    box-sizing: border-box;

}
body {
    margin: 0px;
    font-family: sans-serif;
}
.post-it{
    background-color: black;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 200px;
    display:inline-block;
}
#bulletin-board {
    background-image: url("../images/corkboard.jpg");
    border-image: url("../images/frame.jpg") 49 50 46 47;
    border-style: solid;
    border-width: 50px;
    margin: 24px;
    min-height: calc(100vh - 48px);
    padding: 24px;
    width: calc(100vw - 48px);
}
.yellow{
    background-color:yellow;
    height:300px;
}
.green{
    background-color: chartreuse;
    width: 300px;
    height: 300px;
}
.orange{
    background-color: darkorange;
    width:200px;
    height:250px;
}
.red{
    background-color: brown;
    width:250px;
    height:1200px
}
.purple{
    background-color: blueviolet;
    width:300px;
}
.blue{
    background-color: blue;
    width:500px
}